<div class="p-4 bg-slate-200 lg:fixed w-full lg:w-1/6 lg:h-full">
  <div class="flex lg:hidden items-center justify-between">
    <div class="text-sm flex flex-col">
      <div>To be reimbursed</div>
      <span>{{ totalExpense | async | currency }}</span>
    </div>

    <button
      class="text-red-600 text-sm flex items-center"
      (click)="toggleFilter()"
    >
      Filters
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

  <div
    class="hidden lg:flex items-center justify-between border-b border-gray-400 py-2"
  >
    <span class="text-xs">Filter Expenses</span>

    <button class="text-red-600 text-sm" (click)="removeFilters()">
      Clear Filters
    </button>
  </div>

  <!-- Filter form -->
  <div
    class="w-full"
    [ngClass]="{ 'show-filter': isOpened, 'hide-filter': !isOpened }"
  >
    <!-- from datepicker -->
    <div class="flex flex-col my-2 w-full">
      <label for="from">From :</label>

      <div class="flex items-center">
        <input
          matInput
          [matDatepicker]="fromPicker"
          name="from"
          class="w-full px-2 py-1 rounded outline-none border"
          [(ngModel)]="from"
          (ngModelChange)="filterFrom()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </div>
    </div>

    <!-- To datapicker -->
    <div class="flex flex-col my-2 w-full">
      <label for="to">To :</label>

      <div class="flex items-center">
        <input
          matInput
          [matDatepicker]="toPicker"
          name="to"
          class="w-full px-2 py-1 rounded outline-none border"
          [(ngModel)]="to"
          (ngModelChange)="filterTo()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="toPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </div>
    </div>

    <!-- Minimum and maximum expense -->
    <div class="flex items-center justify-between my-2 w-full">
      <div class="flex flex-col w-[40%]">
        <label for="min">Min :</label>
        <input
          type="number"
          name="min"
          id="min"
          placeholder="$"
          class="w-full px-2 py-1 rounded outline-none border"
          [(ngModel)]="min"
          (ngModelChange)="filterMin()"
        />
      </div>

      <div class="flex flex-col w-[40%]">
        <label for="max">Max :</label>
        <input
          type="number"
          name="max"
          id="max"
          placeholder="$"
          class="w-full px-2 py-1 rounded outline-none border"
          [(ngModel)]="max"
          (ngModelChange)="filterMax()"
        />
      </div>
    </div>

    <!-- Merchant -->
    <div class="flex flex-col my-2">
      <label for="merchant">Merchant :</label>
      <select
        name="merchant"
        id="merchant"
        class="w-full px-2 py-1 rounded outline-none border"
        [(ngModel)]="merchant"
        (change)="filterMerchant()"
      >
        <option value="">Select merchant</option>
        <option *ngFor="let merchant of merchants" [value]="merchant">
          {{ merchant }}
        </option>
      </select>
    </div>

    <!-- Status -->
    <div class="flex flex-col">
      <label for="status">Status :</label>

      <select
        name="status"
        id="status"
        class="px-2 py-1 outline-none border rounded"
        [(ngModel)]="status"
        (change)="filterStatus()"
      >
        <option value="">Select status</option>
        <option value="New">New</option>
        <option value="In Progress">In Progress</option>
        <option value="Reimbursed">Reimbursed</option>
      </select>
    </div>

    <div class="mt-5 lg:hidden flex justify-between">
      <button class="text-blue-800 py-2" (click)="removeFilters()">
        Clear Filters
      </button>

      <button
        class="text-white bg-blue-800 px-5 py-2 rounded"
        (click)="toggleFilter()"
      >
        Done
      </button>
    </div>
  </div>
</div>
