<div class="flex items-center">
  <button
    (click)="searchTable()"
    class="p-2 bg-blue-800 flex items-center justify-center text-white rounded-l-lg"
  >
    <mat-icon>search</mat-icon>
  </button>

  <input
    type="text"
    class="p-2 border rounded-r-lg outline-none w-full lg:w-1/2"
    placeholder="Search expense by Merchant"
    [(ngModel)]="searchTerm"
  />
</div>

<!-- Table -->
<ng-container
  *ngIf="sortedExpenses as dataSource"
  class="h-full overflow-y-scroll max-h-[600px] lg:max-h-full"
>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortData($event)"
  >
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
    </ng-container>

    <!-- Merchant Column -->
    <ng-container matColumnDef="merchant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Merchant</th>
      <td mat-cell *matCellDef="let element">{{ element.merchant }}</td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td mat-cell *matCellDef="let element">{{ element.total }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          'text-red-700': element.status === 'new',
          'italic font-bold': element.status === 'inProgress'
        }"
      >
        {{ element.status | titlecase }}
      </td>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selectExpense(row)"
      class="cursor-pointer hover:bg-gray-200"
    ></tr>
  </table>
</ng-container>
