<header class="bg-blue-900">
  <div class="px-2 py-4 lg:py-2 flex justify-between items-center">
    <h1 class="text-white font-semibold text-lg lg:text-3xl uppercase">
      <a [routerLink]="['', 'in']"> EXPENSE Manager </a>
    </h1>

    <div class="flex items-center">
      <a
        [routerLink]="['profile']"
        class="px-5 py-2 text-black rounded bg-blue-100 mx-2 hover:bg-blue-300 text-xs lg:text-base"
        >Profile</a
      >

      <button
        class="px-5 py-2 text-black rounded bg-blue-100 mx-2 hover:bg-blue-300 text-xs lg:text-base"
        (click)="logOut()"
      >
        Log out
      </button>
    </div>
  </div>
</header>
